@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Wyatt's Gaming</h1>

<div class="table-responsive">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th scope="col">Product Type</th>
				<th scope="col">Typical Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Xbox Games</td>
				<td>$49.99</td>
			</tr>
			<tr>
				<td>Playstation Games</td>
				<td>$49.99</td>
			</tr>
			<tr>
				<td>Arcade</td>
				<td>$5/hour</td>
			</tr>
		</tbody>
	</table>
</div>
